flask
flask-socketio
flask-cors
python-dotenv
langchain
langchain-groq
langchain-core
langchain-community
langchain-ollama
faiss-cpu
simple-websocket
python-socketio
beautifulsoup4
lxml
